@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============== SCROLL BAR ===============*/


/* Vertical scrollbar */

::-webkit-scrollbar {
    width: 0.4rem;
    background: hsl(0, 0%, 93%);
}

::-webkit-scrollbar-thumb {
    background: #590209;
}


/* Horizontal scrollbar */

::-webkit-scrollbar:horizontal {
    height: 0.4rem;
    background: hsl(0, 0%, 93%);
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgb(229, 215, 215);
}

::-webkit-scrollbar:vertical {
    height: 0.4rem;
    background: hsl(0, 0%, 93%);
}

::-webkit-scrollbar-thumb:vertical {
    background: #590209;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.border{
    border-radius: 0 5px 5px 0;
}
.bordertoo{
    border-radius: 10px 0px 0px 10px;
}
