/* src/styles/Header.module.css */
.header {
    align-items: center;
    background-color: #590209; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    color: #fff;
    justify-content: space-between;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: visible; 
  }

  .headerbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: inherit;
  }

  .headericon {
    position: relative;
  }

  .headerTextWrapper {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  
  .headerText {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .headerText span {
    color: #fff;
    font-size: 2.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .headericon img{
    height: 20rem;
    width: 100%;
  }
  
  .logo img {
    height: 40px;
  }
  
  .search {
    display: flex;
    width: 55%;
    /* padding: 0.5rem 1rem; */
    border: 1px solid #590209;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0;
    justify-content: space-between;
  }

  .search input {
    border: none;
    outline: none;
    background-color:#fff ;
    color: transparent;
    padding: 0;
  }

  .searchIcon {
    height: 24px;
    border: transparent;
    justify-self: flex-end;
  }
  
  .icons {
    display: flex;
    gap: 1rem;
  }
  
  .icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icons img {
    height: 24px;
  }


  @media (max-width: 768px) and (min-width: 325px) {
    .logo img {
      height: 18px;
      margin: 0;
    }
    .headerTextWrapper{
      top: 20%;
    }
    .headerText span{
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 370px) and (min-width: 420px){
    .headerbar {
      align-items: center;
      /* padding: 0.5rem; */
    }
  
    .logo img {
      height: 20px;
    }
    .headerTextWrapper{
      top: 20%;
    }
    .headerText span{
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 435px)and (min-width: 376px) {
    .headerTextWrapper{
      top: 15%;
    }
    .headerText span{
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 370px)and (min-width: 320px) {
    .headerTextWrapper{
      top: 10%;
    }
    .headerText span{
      font-size: 1.2rem;
      line-height: 0%;
    }
  }

